/* @media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
} */

/* Untuk Tablet */
@media all and (max-width: 1000px){

}

/* Untuk Smartphone */
@media all and (max-width: 670px){
  .footer {
    text-align:center;
    float:none;
    display: inline-block;
  }

  .footer-content{
    float:none;
  }

  .footer-media{
    float:none;
  }

  .footer .contain{
    text-align:center;
    padding: 0px;
  }

  .footer-content{
    align:center;
  }

  .footer-content h2{
    padding:0px;
  }

  .footer-media h2 {
    padding:0px;
  }

  .footer-media ul li{
    /* float:left; */
    /* padding-center:10px; */
    display: inline-block;
  }
}
